@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background-color: white;
  height: 100%;
  font-weight: 700;
}

.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.login-form {
  height: 500px;
  width: 430px;
  padding: 0 35px;
  background-color: white;
  border: none;
}

input[type='email'],
input[type='password'] {
  border-radius: 20px;
}
.btn-login {
  height: 35px;
  border-radius: 20px;
  font-weight: 700;
}

.link:hover {
  color: red;
  text-decoration: none;
}

.btn-gmail {
  height: 35px;
  border: 2px solid gray;
  border-radius: 20px;
  font-weight: 700;
}

.img-google {
  height: 15px;
  width: 15px;
}
